html, body { height: 100%; width: 100%; margin: 0; }
div { height: 100%; width: 100%; }

.header-menu {
	position:absolute;
	height:150px;
	line-height:150px;
	vertical-align:middle;
}

.header-menu > ul {
	list-style-type:none;
}

.header-menu > ul > li > a {
	color:#FFF;
	text-decoration:none;
	font-size:18px;
	margin-left:25px;
}

.header-menu > ul > li > a:hover {
	padding-bottom:4px;
	border-bottom:3px solid white;
}

.header-image {
	display:block;
	width:100%;
	height:80%;
	overflow-y:hidden;
	background:linear-gradient(0deg,rgba(51,51,51,0.4),rgba(51,51,51,0.4)), url('/img/salmon-dish.jpeg');
	background-size:cover;
	background-position:0 60%;

}