html, body { height: 100%; width: 100%; margin: 0; }
div { height: 100%; width: 100%; }

.header-image {
	display:block;
	width:100%;
	height:80%;
	overflow-y:hidden;
	background:linear-gradient(0deg,rgba(51,51,51,0.4),rgba(51,51,51,0.4)), url('/img/salmon-dish.jpeg');
	background-size:cover;
	background-position:0 60%;

}

#mainOptions {

}

#main > ul {
	list-style-type:none;
}

#main > ul > li > a {
	color:#FFF;
	text-decoration:none;
	font-size:18px;
	margin-left:25px;
}

#main > ul > li > a:hover {
	padding-bottom:4px;
	border-bottom:3px solid white;
}

#mainOptions {
	display:inline-block;
	margin-top:20%;
}

#mainOptions > label {
	color:#FFF;
}